/* Reset */
* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

/* regole generali impaginazione */

body {
  background: url(../img/background-totale.png)
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* ----- proprietà header ----- */
header {
  background: url(../img/background-header.png);
  background-size: cover;
  height: 450px;
  margin-top: 10px;
  border: 10px solid white;
  line-height: 0;
}
/* proprietà immagine "natural" */
.header-img {
  background-image: url(../img/testo-background-header.png);
  background-size: cover;
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
/* proprietà testo header */
.text-header {
  font-size: 40px;
  text-align: center;
  color: white;
  padding: 30px;
}
/* ----- fine proprietà header ----- */

/* Navigation Bar */

ul {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #666666;
  overflow: hidden;
  color: white;
}

ul li {
  display:inline;
}

li a {
  display:inline-block;
  padding:15px;
  color: white;
}

li a:hover {
  background-color: #111;
}

/* Fine Navigation Bar */

.blocco-sx {
  height: 300px;
  width: 25%;
  background-color: #D391E3;
}

.blocco-dx {
  width: 25%;
}

.blocco-centrale {
  height: 400px;
  width: calc(50% - 30px);
  background-color: #800080;
  margin-left: 15px;
  margin-right: 15px;
}

footer {
  height: 100px;
  background-color: #ADD8E6;
  margin-top: 5px;
}

/* fine colori e grandezze dei blocchi */

/* ----- UTILITY CLASS ----- */

/* clearfix */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* floating */
.float-l {
  float: left;
}

/* ----- UTILITY CLASS ----- */

/* divisione tabella destra in due */
.sidebar-content div:first-child {
  height: 170px;
  margin-bottom: 20px;
  background-color: #D391E3;
}

.sidebar-content div:nth-child(2) {
  height: 170px;
  margin-top: 20px;
  background-color: #D391E3;
}

.sidebar-content div:nth-child(2) {
  height: 170px;
  margin-top: 20px;
  background-color: #D391E3;
}

/* fine divisione row destra in due */

.main-content {
  background: blue;
  border: 2px #111 solid;
  height: 600px;
}
