/* Reset */
* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

/* regole generali impaginazione */

body {
  background: url(../img/background-totale.png)
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Fine Regole Generali Impaginazione */

/* ----- proprietà header ----- */
header {
  background: url(../img/background-header.png);
  background-size: cover;
  height: 450px;
  margin-top: 10px;
  border: 10px solid white;
  line-height: 0;
}
/* proprietà immagine "natural" */
.header-img {
  background-image: url(../img/testo-background-header.png);
  background-size: cover;
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
/* ----- proprietà testo header ----- */
.text-header {
  font-size: 40px;
  text-align: center;
  color: white;
  padding: 30px;
}
/* ----- fine proprietà header ----- */

/* ----- Navigation Bar ----- */

nav {
  margin-bottom: 15px;
}

ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: #666666;
  overflow: hidden;
  color: white;
}

ul li {
  display:inline;
}

li a {
  display:inline-block;
  padding:15px;
}

li a:hover {
  background-color: #111;
}

/* ----- Fine Navigation Bar ----- */

/* ----- Colori e grandezze dei blocchi ----- */
.blocco-sx {
  height: 550px;
  width: 25%;
  background-color: white;
  border-radius: 10px;
}

.blocco-dx {
  width: 25%;
}

.blocco-centrale {
  height: 350px;
  width: calc(50% - 80px);
  background-color: white;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 10px;
  padding: 20px;
}

footer {
  height: 100px;
  background-color: #ADD8E6;
  margin-top: 30px;
  border-radius: 10px;
}

/* ----- fine colori e grandezze dei blocchi ----- */

/* ----- UTILITY CLASS ----- */

/* clearfix */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* floating */
.float-l {
  float: left;
}

/* ----- UTILITY CLASS ----- */


/* TABELLA SINISTRA */
.container-icona-testo {
  display: flex;
}

.icona {
  padding: 10px;
}

.testo-icona {
  font-size: 20px;
  padding-left: 5px;
}

.tabella-sx {
  text-align: left;
  font-size: 20px;
  background-color: white;
  color: green;
}
/* FINE TABELLA SINISTRA */

/* TABELLA CENTRALE */
.titolo {
  padding-top: 20px;
  padding-bottom: 70px;
}
/* FINE TABELLA CENTRALE */

/* colonne di destra */
.sidebar-content div:first-child {
  height: 300px;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 10px;
}

.sidebar-content div:nth-child(2) {
  height: 300px;
  margin-top: 40px;
  background-color: white;
  border-radius: 10px;
}

.sidebar-content div:last-child {
  height: 300px;
  margin-top: 40px;
  background-color: white;
  border-radius: 10px;
}

.widget {
  padding-left: 20px;
  padding-top: 30px;
}

.h3-widget {
  padding-left: 20px;
  padding-top: 50px;
}
/* colonne di destra */
